{% extends 'base.html' %}
{% block title %} About {% endblock title %}

{% block body %}
<h1 class="text-center">{{title}}</h1>

<div class="container">
    <form method="post" action="/about">
        {% csrf_token %}
        <div class="mb-3">
            <label for="about" class="form-label">About</label>
            <textarea name="about" class="form-control" id="about" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}
